/* You can add global styles to this file, and also import other style files */
@import 'beercss/dist/cdn/beer.min.css';

.disney-light-blue {
  background: #f1f2f3;
}

.disney-blue {
  background: #054553;
}

.extra-pad {
  padding: 4em;
}
